{% extends "base.html" %}

{% block title %}Create Post - Django Blog{% endblock %}

{% block content %}

<article class="post-card">

    <h1>Create New Post</h1>

    <form method="POST">
        {% csrf_token %}

        <p>
            <label>Title</label><br>
            <input type="text" name="title" required>
        </p>

        <p>
            <label>Slug</label><br>
            <input type="text" name="slug" required>
        </p>

        <p>
            <label>Content</label><br>
            <textarea name="content" rows="10" required></textarea>
        </p>

        <button type="submit">Create Post</button>
    </form>

</article>

{% endblock %}